.root {
    -fx-background-color: #3C4036;
}

.label {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.text-field {
    -fx-background-color: #D9D9D9;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #EEBE16;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.image {
    -fx-border-radius: 50%;
}
