.root {
    -fx-background-color: #C7C7D0;
}

/*#stockProductImage {*/
/*    -fx-image: url('../images/unknown-image.jpg');*/
/*}*/

.label {
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-alignment: left;
}

.text-field {
    -fx-background-color: #D9D9D9;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-padding: 5px;
}

.button {
    -fx-background-color: #EEBE16;
    -fx-text-fill: #000000;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.image {
    -fx-border-radius: 50%;
}

.rectangle
{
    -fx-fill: #3C4036;
}

.tree-view {
    -fx-background-color: #3C4036;
    -fx-text-fill: #000000;
}

.image-view {
    -fx-border-radius: 50%;
}

.menu-button {
    -fx-background-color: #EEBE16;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.menu-item {
    -fx-background-color: #EEBE16;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}


